body {
    background: #339d3b;
    color: white;
    margin: 0;
    
    font: 20px verdana, sans-serif;
}

#layout {
    margin: 10px 30px 10px 100px;
}

h1 {
    margin: 0 0 20px 0;
    font: 50px arial, sans-serif;
}
h2 {
    margin: 20px 0;
    font: 30px arial, sans-serif;
}

fieldset {
    padding: 0.75em;
}
fieldset  legend {
    color: #fff;
}

input[type=button] {
    background: green;
    border: 2px solid #b2b2b2;
    padding: 10px;
    color: #fff;
    font: 20px verdana, sans-serif;
    cursor: pointer;
}
input[type=button]:hover {
    border-color: white;
}

select {
    padding: 10px;
    font: 20px verdana, sans-serif;
    background: green;
    border: 2px solid #b2b2b2;
    color: #fff;
}

.box {
    
}
/*.box span {
    max-width: 20%;
}*/
.box span {
    width: 4.8%;
    display: block;
    float: left;
}
.box span.last {
    margin-right: 2.4%;
}
.box img {
    width: 100%;
}

.box-dora span {
    width: 10%;
}

table {
    border: 1px solid green;
}
table thead th {
    background: green;
    padding: 10px;
    font-weight: normal;
}
table tbody tr td {
    padding: 10px;
}
table tbody tr:nth-child(even) td {
    background: #0dac0d;
}

.waiting {
    background: gold;
    border: 3px solid yellow;
}

#select-tile-view img {
    width: 10%;
    max-width: 82px;
}