body {
    background: #339d3b;
    color: white;
    margin: 0;
    font: 30px 'arial', sans-serif;
}

#layout {
    margin: 10px 5px 10px 0px;
}

h1 {
    margin: 0 0 20px 0;
    font: 50px arial, sans-serif;
}
h2 {
    margin: 20px 0;
    font: 30px arial, sans-serif;
}

fieldset {
    padding: 0.5em;
    padding-top: 0;
    border: 2px solid green;
    border-radius: 10px;
}
fieldset  legend {
    color: green;
    letter-spacing: 2px;
    font-family: 'arial', sans-serif;
    font-size: 30px;
}

input[type=checkbox] {
    background: none;
    border: 2px solid green;
    padding: 10px;
}
input[type=button] {
    background: green;
    border: none;
    padding: 10px;
    color: #fff;
    font: 20px verdana, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}
input[type=button]:hover {
    border-color: #eead4d;
}
input[type=button]:last-child {
    margin-right: 0;
}

select {
    padding: 10px;
    font: 20px verdana, sans-serif;
    background: green;
    border: none;
    color: #fff;
    border-radius: 5px;
}

table {
    border: 1px solid green;
}
table thead th {
    background: green;
    padding: 10px;
    font-weight: normal;
}
table tbody tr td {
    padding: 10px;
}
table tbody tr:nth-child(even) td {
    background: #0dac0d;
}

.waiting {
    background: gold;
    border: 3px solid yellow;
}

#select-tile-view img {
    width: 9%;
    max-width: 80px;
}

.txt1 {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}